<div>
    <div>
      <b>Title</b>
      <%= link_to @album.title, @album.link %>
    </div>

    <div>
      <b>Artist</b>
      <%= @album.artist %>
    </div>

    <div>
      <b>Release Date</b>
      <%= @album.date%>
    </div>
    
    <div>
      <b>Slug</b>
      <%= @album.slug %>
    </div>

    <div>
      <b>Created at</b>
      <%= @album.created_at%>
    </div>

    <div>
      <b>QID</b>
      <%= @album.qid %>
    </div>
    
    <div>
      <b>Musicbrainz ID</b>
      <%= @album.mbid %>
    </div>
    
    <div>
      <b>Spotify ID</b>
      <%= @album.spotify_id %>
    </div>

    <div>
    <% if !@album.description.nil? %>
      <%= markdown(@album.description) %>
    <% else %>
      <%= @album.html.html_safe %>
    <% end %>
    </div>
</div>

<%= link_to 'Edit', edit_album_path %>